body{
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
.App {
  text-align: center;
  padding-top: 10px;
  color: white;
}
.tempSelect p{
  font-size: 30px;
  display: inline;
  margin-right: 5px;
  margin-left: 5px;
}